---
description: |
  TODO
command: |
  disable-flutter-tls-verification https://github.com/NVISOsecurity/disable-flutter-tls-verification
code: |
  TODO

items:
  - Mobile


references:
  - https://github.com/NVISOsecurity/disable-flutter-tls-verification
---